* {
	margin:0;
	padding: 0;
}

body {
	background: #171717;
	font-family: 'Roboto', sans-serif;
        font-weight: 500;
	color: #f5f5f5;
	font-size: 1em;
}

h1,h2,h3,h4,h5 {font-family: 'Roboto', sans-serif; font-weight: 900}

.btn-primary {
	background: #ffcd00;
	color: #151515;
	border: none;
	margin: 0 auto;
	text-align: center;
}

.btn-primary:hover {
	color: #ffcd00;
	border: 2px solid #ffcd00;
	background: none;
}

.top-bar {
	position: relative;
	z-index: 9;
	width: 100%;
	background: #191919;
	border-bottom: 1px solid #7c7c7c;
	padding: 10px;
	min-height: 50px;
}

.top-direccion {
	float: left;
	text-align: left;
}

.top-direccion i,
.top-mail i{
	color: #ffcd00;
	display: inline-block;
}

.top-direccion p,
.top-mail p{
	color: #fefefe;
	display: inline-block;
	font-size: 0.8em;
}

.top-mail {
	float: right;
	text-align: right;
}

/*........... Header ...........*/
header {
	position: relative;
	z-index: 9;
}


.brand-mobile {
	display: none;
	width: 100px;
	padding-left: 1em;
}

.brand-mobile img {
	width: 100%;
}

.navbar-nav {
	margin: 0 auto;
}

.navbar-nav .brand-desktop {
	max-width: 200px;
	margin: 0 auto;
	padding-left: 20px;
	
}

.brand-scroll {
	width: 150px;
}

.navbar-nav .brand-desktop img {
	width: 100%;
}

.navbar-nav .nav-item {
    margin-top:30px;
    padding-left: 20px;
}

.navbar-nav .nav-item a{
	color: #fff;
}

.navbar-nav .nav-item a:hover{
	color: #fff;
	border-bottom: 2px solid #ffcd00;
}

.navbar-nav .nav-item .dropdown-menu {
    border-radius:0px;
    background-color: rgba(0,0,0,0.3);
    border: 1px solid #fff; 
}

.navbar-nav .nav-item .dropdown-menu .dropdown-item {
    background:none;
}

.padding-top-scroll {
	padding:0;
	
}

.navbar-nav .active {
	border-bottom: 2px solid #ffcd00;
}

/*........... Carousel ...........*/

.carousel {
	position: relative;
	z-index: 1;
	margin-top: -200px;

}

.impo-item-carousel {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: rgba(34,34,33,0.8);
}

.carousel-item .container-titulo-carousel {
	position: absolute;
	z-index: 3;
	top: 50%; 
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.carousel-item .container-titulo-carousel h2 {
	font-size: 1em;
}

.carousel-item .container-titulo-carousel h1 {
	font-size: 1.8em;
	margin-top: -10px;
	background: #ffcd00;
	color: #151515;
	padding: 5px 5px 0px 5px;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.carousel-control-prev,.carousel-control-next  {
    z-index: 3;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    padding: 2em;
    background: #ffcd00;
    color: #fff;
    border-radius: 50px;
    position: relative;
}
.carousel-control-prev-icon i,
.carousel-control-next-icon i {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    font-size: 2em;
}

.container-titulo {
	width: 100%;
	text-align: left;
	display: block;
        margin: 2em 1em;
}

.container-titulo .titulo {
	border-left: 5px solid #ffcd00;
	padding-left: 1em;
}

.container-titulo .titulo h1{
	font-size: 3em;
	margin-top: -15px;
}

.container-titulo .titulo h3{
	font-size: 2em;
}

table thead th{
   background: #ffcd00;
   color: #000;
   text-align: center;
}

table tbody td{
   color: #fff;
   text-align: center;
}

/*........... Catalogo ...........*/

.catalogo {
	margin-top: 1em;
	background-color: #131313;
}

.catalogo .nombre-especialista{

	width: 100%;
	text-align: center;
}

.catalogo .nombre-especialista h4{
	text-align: center;
}

.catalogo .nombre-especialista p{
	text-align: left;
	color: #a2a2a2;
}

.catalogo .nombre-especialista .linea-especialista {
	width: 100px;
	height: 2px;
	background: #ffcd00;
	color: #ffcd00;
	margin:0 auto;
	margin-top: -10px;
	margin-bottom: 20px;
}

.catalogo figure {
	position: relative;
	overflow: hidden;
}

.catalogo figure::before {
	position: absolute;
	top: 0;
	left: -85%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.catalogo figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

.catalogo figure .img-especialista {
	position: relative;
	z-index: 1;
	width: 100%;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

.catalogo figure .img-especialista:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%); 
}



footer {
    margin-top:2em;
    padding: 60px 0;
    background: #0e0e0e;
    border-top: 5px solid #ffcd00;
}

footer .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

footer h5{
	padding-left: 10px;
    border-left: 3px solid #ffcd00;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#fff;
}
footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

footer ul.quick-links li a{
	color:#ffffff;
}

footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
footer ul.quick-links li a i{
	margin-right: 5px;
}
footer ul.quick-links li:hover a i {
    font-weight: 700;
}

.buttom-bar {
	position: relative;
	z-index: 9;
	width: 100%;
	background: #1c1c1c;
	border-top: 1px solid #333333;
	padding: 10px 40px;
        text-align: center;
}

.bottom-legal {
	width: 100%;
	text-align: center;
}

.bottom-legal p {
	color: #afafaf;
	font-size: 0.8em;
}
.ir-arriba {
	display:none;
	padding:20px;
	background:#ffcd00;
	font-size:20px;
	color:#000;
	cursor:pointer;
	position: fixed;
	bottom:40px;
	right:20px;
	z-index: 10;
}


.navbar-fixed {
	position:fixed;
	z-index:1000;
	top:0;
	/*max-width:1000px;*/
	left:0;
	width:100%;
	background: #000;
	border-bottom: 2px solid #ffcd00;
}